body{
    background: #D7F48A;
}
h1{
    background-color: #2DA43B;
    font-size: 50px;
    text-align: center;
    border: solid 5px;
    border-color: #71BD43;
    border-radius: 20px;
    margin: 50px;
    
}

header{
    font-size: 25px;
    text-align: center;
}


.contTextLogo{
    background-color: #2DA43B;
    margin: 50px;
    border: solid 5px;
    border-color: #71BD43;
    border-radius: 20px;
    overflow: hidden; 
}

.texto{
    float: right;
    text-align: center;
    font-size: 25px;
}


.logoTarjeta{
    float: left;
    width: 0.00005%;
    height: 0.00005%;
    top:  10px;
    left: 5px;

}


form{
    font-size: 20px;
    text-align: center;
}

input{
    font-size: 20px;
}
select{
    text-align: left;
}

button{
    background-color: #2DA43B;
    font-size: 20px;
    text-align: center;
}
